body {
    background-color: #000;
    margin: 0px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


#info {
    position: absolute;
    top: 0px;
    width: 100%;
    color: #FDFEFE;
    padding: 10px;
    text-align: center;
}

#tutorial {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#source {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
